@model _19final.Models.home

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout1.cshtml";
}

<h2>Create</h2>

<div class="card">
    <div class="card-body">

        <form class="forms-sample" method="post" enctype="multipart/form-data">



            <div class="form-group">
                <label>SEKIL</label>
                <div class="input-group col-xs-12">
                    <input type="file" name="photourl" class="form-control file-upload-info" placeholder="Upload Image">
                    <div class="input-group-append">
                        <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputCity1">BASLIQ</label>
                <input type="text" class="form-control" id="exampleInputCity1" name="basliq" placeholder="Location">
            </div>
            <div class="form-group">
                <label for="exampleTextarea1">ETRAFLI</label>
                <textarea class="form-control" id="exampleTextarea1" name="etrafli" rows="2"></textarea>
            </div>
     

            <button type="submit" class="btn btn-success mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>

