@model  _19final.Models.home

@{
    ViewBag.Title = "Index";
}


<div id="mm1">
    <div class="container">
        <div class="mm2">
            <h1>
            </h1>
            <br>
            <img src="@Html.DisplayFor(model => model.photourl)" />
            <br>

            <br>
            @Html.DisplayFor(model => model.basliq)

            <br>
            @Html.DisplayFor(model => model.etrafli)

            <br>
            <br>

            <p>
            </p>
        </div>
    </div>
</div>



    
