@model _19final.Models.home
@{
    ViewBag.Title = "Index";
}


<div id="mm1">
    <div class="container">
        <div class="mm2">
            <h1>
                @Model.basliq
            </h1>
            <br>
            <br>

            <img src="@Html.DisplayFor(model => model.photourl)" alt="">
            <br>
            <br>
            <br>
            <br>

            <p>
                
            </p>
        </div>
    </div>
</div>


