@model _19final.Models.about1

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>about1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.etrafli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etrafli)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
