@model _19final.Models.about1
@{
    ViewBag.Title = "haqqinda";
}



















    <div id="vv1">
        <div class="vv2">

            <nav style="width: 303px" class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <img src="~/sayt/foto/sdfsdfsdf.jpg" alt="">

                        </li>
                        <li class="nav-item">
                            <h1>LARA</h1>
                        </li>

                        <li class="nav-item">
                            <p>I love photography. Live in England and sometimes blog in my leisure.</p>
                        </li>

                    </ul>

                    <ul class="zz1 list-unstyled">
                        <li> <a style="color: black;" href="/">HOME</a> </li>

                        <li> <a style="color: black;" href="/haqqinda/Index/">ABOUT</a> </li>

                        <li> <a style="color: black;" href="/teklifs/Create/">CONTACT</a> </li>



                      


                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    </form>
                </div>
            </nav>
        </div>



    </div>

















    <div id="oo">

            <div class="cc0 ">
                <h1>ABOUT ME</h1>
                <p>
                    <br />
                    @Model.etrafli
                    <br />



            </div>

           
    </div>













