
@model _19final.Models.home

   






<div id="ee1">

    <div class="container">
        <div class="row ">
            <div class="column navbar">
                @foreach (var item in ViewBag.huseyn11)
                {
                    <div class="aa1 navbar">
                        <a href="/detal/Details/@item.ID"> <img style="width: 400px;" src="@item.photourl" alt=""> </a>
                    </div>
                }





            </div>
        </div>
    </div>

</div>




